body {
  background-color: #ff1a1a;
  margin-top: 0px;
  margin-bottom: 0px;
}

div#header {
  background-color: white;
  width: 55%;
  margin: auto;
  padding-top: 25px;
  padding-bottom: 50px;
  padding-right: 100px;
  padding-left: 100px;
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
}
h3 {
  margin:0;
}

div#timerbox {
  position: fixed;
  background-color: white;
  border: 4px white;
  border-right: transparent;
  padding: 15px;
  right: 0;
  text-align: left;
  padding: 35px;
  padding-right: 60px;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #63b4cf;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 15px;
  padding-right: 25px;
  padding-left: 25px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

div#main {
  margin: auto;
  padding-top: 50px;
  padding-bottom: 75px;
  padding-right: 100px;
  padding-left: 100px;
  width: 50%;
  min-height: 80%;
  background-color: white;
  font-size: 20px;
}

button {
  
}

div#footer {
  background-color: white;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  width: 55%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 25px;
  padding-right: 100px;
  padding-left: 100px;
  position: relative;
  bottom: 0px;
  font-size: 12px;
  text-align: right;
}